<a [routerLink]="'/libros/nuevo'">Nuevo</a>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Titulo</th>
      <th>ISBN</th>
      <th>Editorial</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let libro of libros">
      <td>{{ libro.id }}</td>
      <td>{{ libro.titulo }}</td>
      <td>{{ libro.isbn }}</td>
      <td>{{ libro.editorial }}</td>
      <td>
        <a [routerLink]="['/libros/editar', libro.id]">Editar</a>
        <button (click)="eliminar(libro.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
